<template>
  <div class="home">
    <LoginForm v-if="!user" />
    <h1 v-if="user">Bienvenue {{ user.pseudo }} !</h1>
    <button v-if="user" @click="$router.push({name: 'test'})">Test Page</button>
    <button v-if="user" @click="Logout()">Se déconnecter</button>
  </div>
</template>

<script>
import LoginForm from '@/components/LoginForm.vue'

export default {
  name: 'HomeView',
  components: {
    LoginForm
  },
  data() {
    return {
      user: null
    }
  },
  methods: {
    Logout() {
      localStorage.removeItem('user');
      this.user = null;
    }
  },
  mounted() {
    const user = JSON.parse(localStorage.getItem('user'));
    user ? this.user = user : null;
  }
}
</script>

<style lang="scss" scoped>
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  button {
    width: auto;
    margin: 25px 0 10px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
}
</style>
