<template>
  <div class="test">
    <h1>Page de test</h1>
    <button @click="$router.push({name: 'home'})">Home Page</button>
  </div>
</template>

<style lang="scss" scoped>
.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  button {
    width: auto;
    margin: 25px 0 10px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
}
</style>