<template>
  <div class="login">
    <h3>Connexion</h3>
    <input type="email" v-model="email" placeholder="Adresse mail" @click="message = ''">
    <input type="password" v-model="password" placeholder="Mot de passe" @click="message = ''" @keyup.enter="Login()">
    <button @click="Login()">Se connecter</button>
    <small v-if="message">{{ message }}</small>
  </div>
</template>

<script>
export default {
  name: 'LoginForm',
  data() {
    return {
      email: '',
      password: '',
      message: ''
    }
  },
  methods: {
    async Login() {
      if (this.email && this.password) {
        const res = await this.$users.login({
          email: this.email,
          password: this.password
        });
        res ? this.message = res : location.reload();
      }
    }
  },
}
</script>

<style scoped lang="scss">
.login {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 20px 30px;
  border-radius: 20px;
  transition: 0.4s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

  h3 {
    margin: 10px 0 20px 0;
  }

  small {
    margin: 10px;
    color: red;
  }

  input {
    width: 100%;
    margin: 8px 0;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.1);
  }

  button {
    width: 100%;
    margin: 25px 0 10px 0;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
}
</style>
